[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cookiecutter = "*"
django-crispy-forms = "*"
gunicorn = "*"
djangorestframework = "*"
pytest = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.9"
