[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cookiecutter = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-allauth = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
collectfast = "*"

[dev-packages]

[requires]
python_version = "3.9"
